---
layout: page
# The Archives of posts.
---

{% include lang.html %}

<div id="archives" class="pl-xl-3">
  <ul class="list-unstyled">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<style>
  /* Dateless archives: the theme draws a vertical timeline that only makes
     sense with year headers. With dates removed, render a clean list. */
  #archives ul li::before {
    display: none;
  }
  #archives ul li:nth-child(odd) {
    background: none;
  }
  #archives a {
    margin-left: 0;
  }
  #archives a::before {
    display: none;
  }
</style>
